Importing libraries

In [1]:
import pandas as pd
import numpy as np

Loading sepsis cohort from csv file

In [2]:
cohort = pd.read_csv('D:/OMSA/202303-Fall/CSE-6250/Project/AI_Clinician-master/MIMICtable.csv')
cohort.head()

,bloc,icustayid,charttime,gender,age,elixhauser,re_admission,died_in_hosp,died_within_48h_of_out_time,mortality_90d,...,PaO2_FiO2,median_dose_vaso,max_dose_vaso,input_total,input_4hourly,output_total,output_4hourly,cumulated_balance,SOFA,SIRS
0,1,11,6898241400,1,30766.069028,6,1,0,0,0,...,198.148148,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7,0
1,2,11,6898255800,1,30766.069028,6,1,0,0,0,...,198.148148,0.0,0.0,0.0,0.0,460.0,460.0,-460.0,5,0
2,3,11,6898270200,1,30766.069028,6,1,0,0,0,...,266.666667,0.0,0.0,0.0,0.0,1020.0,560.0,-1020.0,5,1
3,4,11,6898284600,1,30766.069028,6,1,0,0,0,...,100.000000,0.0,0.0,0.0,0.0,1600.0,580.0,-1600.0,6,1
4,5,11,6898299000,1,30766.069028,6,1,0,0,0,...,100.000000,0.0,0.0,0.0,0.0,2020.0,420.0,-2020.0,6,1

Calculating mean age

In [17]:
df_age = cohort[['icustayid','age']].groupby(['icustayid']).mean('age')/365.25
np.mean(df_age['age'].astype(int))

64.40275746814288

Calculating mean weight

In [34]:
cohort[['icustayid','Weight_kg']].drop_duplicates()
np.mean(cohort[['icustayid','Weight_kg']].drop_duplicates()['Weight_kg'])

83.49118967532483

Gender distribution

In [40]:
 cohort[['icustayid','gender']].drop_duplicates().groupby(['gender']).count()

        icustayid
gender
0           10731
1            8417

Re-admission distribution

In [41]:
cohort[['icustayid','re_admission']].drop_duplicates().groupby(['re_admission']).count()

              icustayid
re_admission
0                 12852
1                  6296

Mechanical ventilation distribution

In [42]:
cohort[['icustayid','mechvent']].drop_duplicates().groupby(['mechvent']).count()

          icustayid
mechvent
0             17021
1              9034